

<h1> <%= Faker::Name.name %> </h1>
<br>
<h2><%= Faker::Superhero.name  %></h2>
<br>
<h2><%= Faker::Superhero.power %></h2>



<div class="card-deck">
  <div class="card">
    <img src="http://lorempixel.com/400/200/sports/1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="http://lorempixel.com/400/200/sports/1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card">
    <img src="http://lorempixel.com/400/200/sports/1" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item w-50" width="560" height="315" src="https://www.youtube.com/embed/jQ8QCyX7daA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



